body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e6f2e6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #006400;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    flex: 1;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #006400;
}

#projects .project {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
}

#contact a {
    color: #006400;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    background: #006400;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    width: 100%;
}


img {
    vertical-align: middle;
}

